
<div class="panel panel-default">

    <nav class="navbar navbar-inverse">
             <div class='navbar-collapse collapse'>
                <ul class='nav navbar-nav'>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/operations']">
                            <span class='glyphicon glyphicon-home'></span>OPERATIONS
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['']">
                            <span class='glyphicon glyphicon-education'></span> OPEN PIT
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['']">
                            <span class='glyphicon glyphicon-education'></span> PROCESSING
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['']">
                            <span class='glyphicon glyphicon-education'></span> SAFTEY
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['']">
                            <span class='glyphicon glyphicon-education'></span> MAINTENANCE
                        </a>
                    </li>

                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['']">
                            <span class='glyphicon glyphicon-education'></span> UTILITIES
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['']">
                            <span class='glyphicon glyphicon-education'></span> CONSUMABLES
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['']">
                            <span class='glyphicon glyphicon-education'></span> GEOLOGY
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['']">
                            <span class='glyphicon glyphicon-education'></span> ENVIRONMENT
                        </a>
                    </li>
                </ul>
            </div>
   
    </nav>

</div>


  